body{
    background-color: aliceblue;
}
hr{
width: 56px;
height: 2px;
background-color: black;
margin-bottom: 50px;
}
h1{
  width: 462px;
  height: 62px;
  font-size: 36px;
  line-height: 56px;
  margin-left: 569px;
  margin-right: 569px;
  margin-bottom: 26px;


}
.card{
    background-color: white;
    width: 350px;
    height: 512px;
    border-radius: 20px;


}
h4{
    width: 251px;
    height: 64px;
    font-size: 21px;
    padding-left: 30px;
    
}
.text{
    font-size: 16px;
    line-height: 28px;
    width: 266px;
    height: 84px;
    padding-left: 30px;
}
.card_1{
   
    width: 350px;
    height: 512px;
    background-color: white;
    border-radius: 20px;
}
ul{
    list-style-type: none;
justify-content: space-between;
display: flex;
}
.card_h4{
  width: 265px;
  height: 64px;
  font-size: 21px;
  line-height: 32px;
  padding-left: 30px;
}
.text_2{
    width: 266px;
    height: 84px;
    padding-left:30px;
}
.card_3{
    width: 350px;
    height: 512px;
    background-color: white;
    border-radius: 20px;
}
.text_h4{
    width: 245px;
    height: 64px;
}
.text_p{
    width: 266px;
    height: 84px;
    padding-left: 30px;
}
.footer_contiener{
   width: 1600px;
   height: 432px;
   background-color:#67C3F3; 
   margin: auto;
}
.box_1{
    width: 391px;
    height: 84px;
    margin-left: 190px;
  padding-top: 176px;
    padding-bottom: 172px;
    color: white;
    font-size: 18px;
}
.box_2{
    width: 391px;
    height: 28px;
    background-color: #67C3F3;
}

  
